<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= blog.user.name %></td>
        <td><%= link_to 'Show', blog %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Index', blogs_path %>